<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postal Rate Calculator</title>
</head>
<body>
    <h1>Postal Rate</h1>

    <p>For mail of type <%= type %> and weight <%= weight %> the rate is <strong><%= rate %></strong></p>
</body>
</html>